.categories{
    margin-top: 30px;
    padding-left: 10px;
}

.categories a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #9f9f9f;
  padding: 8px 15px;
}

.categories a:hover {
  background: #e7e7e7;
  color: rgb(21, 21, 21);
  padding: 8px 15px;
}
