.header-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #706f6f;
}

.header-content h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #403f3f;
  margin-top: -10px;
}

.notification-container {
    display: flex;
    justify-content: center;
    margin: 0;
  width: 1140px;
  height: 80px;
  padding: 16px;
  background: #f3f3f3;
}

.notification-container h6 {
  font-family: poppins;
  font-weight: 500;
  font-size: 18px;
  color: #403f3f;

}
