.amazing-info {
  position: absolute;
  width: 190px;
  height: 135px;
  left: 1140px;
  top: 1600px;
  text-align: center;
  color: white;
}

@media (min-width: 1800px) {
  .amazing-info {
      font-size: 18px; /* Increase font size for large screens */
      margin-left: 190px; /* Increase padding for large screens */
  }
}